.display-all {
  height: 143px;
  position: relative;
  width: 1345px;
  display: flex;
  margin: 3%;
}

.display-all .article-instance {
  left: 1px !important;
  position: absolute !important;
  top: 1px !important;
}

.display-all .design-component-instance-node {
  left: 363px !important;
  position: absolute !important;
  top: 1px !important;
}

.display-all .article-2 {
  left: 725px !important;
  position: absolute !important;
  top: 1px !important;
}

.display-all .article-3 {
  left: 1086px !important;
  position: absolute !important;
  top: 0 !important;
}
.display-all {
  height: 143px;
  position: relative;
  width: 1345px;
}

.display-all .article-instance {
  left: 1px !important;
  position: absolute !important;
  top: 1px !important;
}

.display-all .design-component-instance-node {
  left: 363px !important;
  position: absolute !important;
  top: 1px !important;
}

.display-all .article-2 {
  left: 725px !important;
  position: absolute !important;
  top: 1px !important;
}

.display-all .article-3 {
  left: 1086px !important;
  position: absolute !important;
  top: 0 !important;
}
